<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>

	<key>CFBundleExecutable</key>
	<string>remote</string>

	<key>CFBundleIconFile</key>
	<string>logo</string>

	<key>CFBundleIdentifier</key>
	<string>maxcharriere.remote</string>

	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>

	<key>CFBundleName</key>
	<string>remote</string>

	<key>CFBundlePackageType</key>
	<string>APPL</string>

	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>

	<key>CFBundleShortVersionString</key>
	<string>1.0</string>

	<key>CFBundleVersion</key>
	<string>1</string>

	<key>LSMinimumSystemVersion</key>
	<string>10.14.2</string>

	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>

	

	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 maxcharriere. All rights reserved.</string>

	<key>NSPrincipalClass</key>
	<string>NSApplication</string>

	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>

	<key>CFBundleDocumentTypes</key>
	<array>
		
	</array>

	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>maxcharriere.remote</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>remote</string>
			</array>
		</dict>
	</array>
</dict>
</plist>